:root {
    --gradient: linear-gradient(
        45deg, #ffffff, #000000, #ffffff
    );
}

@keyframes animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}



body{
    font-family: 'Ibarra Real Nova', serif, Verdana;
    font-family: 'Cormorant SC', serif, Verdana;
    font-weight: bold;
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-size: 400% 400%;
    animation: animation 5s infinite alternate;
}


#panelGroup1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#panelGroup2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#panelGroup3{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#panel1{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

#panel2{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-image: url(img/butterfly.jfif);
    background-position: center
}

#panel3{
    border-style: double;
    width: 100%;
    text-align: center;    
    margin: 15px;
    padding: 15px;
}

#panel4{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
}
#panel5{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-image: url(img/neargirl.jfif);
    background-position: center;
    background-size: 450px;
}

#panel6{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

#panel7{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
}
#panel8{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-image: url(img/lilgyoza.jfif);
    background-position: center;
    background-size: 350px;
}

#panel9{
    border-style: double;
    width: 100%;
    text-align: center;
    margin: 15px;
    padding: 15px;
}

